<h1>
  <div class="text-center">
    NOS BRICOOLERS
  </div>
</h1>

<div class="container">
  <% policy_scope(@bricoolers).each do |bricooler| %>
      <div class="row well">
        <div class="col-sm-3">
          <div>Prénom : <strong><%= bricooler.first_name %></strong></div>
          <br>
          <div>Sa description : </strong> <%= bricooler.bio %><strong></div>
          <br>
          <div class="col-sm-2">
            <%= image_tag "https://s3.amazonaws.com/uifaces/faces/twitter/guiiipontes/73.jpg" %>
          </div>
        </div>
      </div>
  <% end %>
</div>
