<% if policy(@bricooler).show? %>
  <h1 class="text-center">Profil de <%= @bricooler.first_name %></h1>
    <br>
    <br>
    <div class="container text-align">
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
         <br>
          <strong>Sa description :</strong> <%= @bricooler.bio %>
            <div class="col-xs-8 col-xs-offset-2">
              <h3 class="text-center">
                <br>
               <%= link_to(class: "btn btn-primary") do %>
                <i class="fa fa-wrench"> De quel travaux ai-je besoin ?</i>
               <% end %>
              </h3>
               <br>
              <br>
            </div>
         <div class="horizontal_spacer"></div>
         <div class="horizontal_spacer"></div>
       </div>
      </div>
    </div>
<% end %>