<nav class="menu-bricool">
  <div class="container menu-bricool-container">
    <div class="list-inline">
      <li><%= link_to "Bricoolers", bricoolers_path %></li>
      <li>|</li>
      <li><%= link_to "Travaux", services_path(current_user) %></li>
      <li>|</li>

      <% if user_signed_in? && if policy(Estimate).new? %>
          <li><%= link_to "Demande de devis", new_customer_estimate_path(current_user) %></li>
          <li>|</li>
        <% end %>
      <% end %>

      <li><%= link_to "Devenir Bricooler", new_user_session_path %></li>

    </div>
  </div>
</nav>



