<div class= "container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">

      <h5>Bricool, c'est quoi ?</h5>

      <p>Bricool est un site pour faciliter tous vos petits travaux. Embarquez pour l'aventure ! Candice et Emilie, ce sont un peu les agents des meilleurs artisans particuliers de votre ville. Chez nous, on les appelle les Bricoolers. blablblabla. Si tu lèves à 5h du mat', ce site est pour toi !</p>

    </div>
  </div>
</div>