<h1 class="text-center">Mon profil</h1>
<br>
<br>
<div class="container text-align">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">

      <p><% if policy(@customer).show? %>
        <strong>Email:</strong> <%= @customer.user.email %>
            <br>
            <br>

              <i class="fa fa-pencil"> <%= link_to'Compléter mon profil', edit_customer_path if policy(@customer).edit? %></i>
            <div class="horizontal_minispacer"></div>
            <i class="fa fa-trash"> <%= link_to 'Supprimer mon profil', @customer, method: :delete, data: { confirm: "Sûre de vouloir supprimer votre profil ?"} if policy(@customer).destroy? %> </i>


            <div class="col-xs-8 col-xs-offset-2">
              <h3 class="text-center">
               <%= link_to(class: "btn btn-primary") do %>
                <i class="fa fa-wrench"> De quel travaux ai-je besoin ?</i>
              <% end %> </h3>
               <br>
              <br>
            </div>
          <% end %>
      </p>
     <div class="horizontal_spacer"></div>
     <div class="horizontal_spacer"></div>
   </div>
  </div>
</div>