<div class= 'container'>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <h5>Notez la prestation de (nom du bricooler)</h5>

      <p><%= @customer.first_name %>,</p>

      <p>Votre prestation de (nom du service) a logiquement été réalisée par (nom du bricooler), le (date de la prestation) pour (prix de la prestation.</p>

      <p>Pour nous aider à maintenir un niveau de qualité satisfaisant parmi nos Bricoolers, merci de bien vouloir évaluer (nom du bricooler) : </p>


    </div>
  </div>
</div>
